<!-- _includes/footer.html -->
<footer>
    <div class="container">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. {{ site.description }}</p>
        <p>Connect Latino Leaders for Impact. Empowering Latino Leaders.</p>
        <!-- Add social media links if applicable -->
        <p>
            <a href="https://www.linkedin.com/company/alpfavt" target="_blank">LinkedIn</a> |
            <a href="https://www.instagram.com/vtalpfa" target="_blank">Instagram</a> |
            <a href="https://www.gobblerconnect.vt.edu/organization/alpfaatvt" target="_blank">GobblerConnect</a> |
            <a href="https://twitter.com/ALPFA" target="_blank">Twitter</a>
        </p>
    </div>
</footer>
