<!-- _includes/header.html -->
<header>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ '/' | relative_url }}">
                
                <img src="{{ '/assets/img/alpfa_logo_white.png' | relative_url }}" alt="ALPFA Logo" style="height: 100px;"> <!-- Example height -->
            </a>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/constitution/' | relative_url }}">Constitution</a></li>
                    <li><a href="{{ '/executive-board/' | relative_url }}">Executive Board</a></li>
                    <li><a href="{{ '/newsletter/' | relative_url }}">Newsletter</a></li>
                    <li><a href="{{ '/contact/' | relative_url }}">Contact Us</a></li>
                    <li><a href="{{ '/interns/' | relative_url }}">Interns</a></li>
                    <li><a href="{{ '/resume/' | relative_url }}">Resume Submission</a></li>
                    <li><a href="{{ '/sponsor/' | relative_url }}">Sponsor</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
