<!-- _includes/header.html -->
<header>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ '/' | relative_url }}">
                
                <img src="{{ '/assets/img/vt-alpfa-logo.jpeg' | relative_url }}" alt="ALPFA Logo" style="height: 100px;"> <!-- Example height -->
            </a>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                   <!-- <li><a href="{{ '/constitution/' | relative_url }}">Constitution</a></li> -->
                    <li><a href="{{ '/leadership/' | relative_url }}">Leadership</a></li>
                   <!-- <li><a href="{{ '/newsletter/' | relative_url }}">Newsletter</a></li> -->
                    <!-- <li><a href="https://linktr.ee/vtalpfa#343407869" target="_blank" rel="noopener">Newsletter</a></li> -->
                    <li><a href="{{ '/contact/' | relative_url }}">Contact Us</a></li>
                    <li><a href="https://gobblerconnect.vt.edu/organization/alpfaatvt" target="_blank" rel="noopener">Join Us</a></li>
                    <!-- <li><a href="{{ '/resume/' | relative_url }}">Resume Submission</a></li> -->
                    <!-- <li><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=hGiVYK0Q-kCGPU8yweOjekVE6rUFi5ZLvPqkv8hqI_VUMTVNSFlKNE9RSUE5NEJaR0NVOTdPWElMWiQlQCN0PWcu" target="_blank" rel="noopener">Resume Submission</a></li> -->
                    <li><a href="{{ '/photogallery/' | relative_url }}">Gallery</a></li>
                    <li><a href="{{ '/sponsor/' | relative_url }}">Sponsor</a></li>
                    <li></li><a href="{{ '/assets/pdfs/ALPFA_VT_Constitution_and_Bylaws.pdf' | relative_url }}" target="_blank">Constitution</a>

  </a>
</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
